---
import Base from '@layouts/Base.astro';
import '@styles/HomePage.css';

import bannerImg from '@assets/images/banner.jpg';
import logo from '@assets/images/logo.png';
---

<Base>
  <div id="header-wrapper">
    <img id="logo" alt="union logo" src={logo} />
    <div id="title-wrapper">
      <h1>Teaching Assistant Labor Organization</h1>
      <p>
        The Teaching Assistant Labor Organization (TALO) represents
        Undergraduate Teaching Assistants, Diversity and Inclusion advocates,
        and Health and Wellness advocates in the Computer Science department at
        Brown.
      </p>
    </div>
  </div>
  <img src={bannerImg} alt="CS TA Labor Union rally" />
  <div class="section-wrapper">
    <h2>We're Unionized!</h2>
    <p>
      Undergraduate CS student employees filed to seek{' '}
      <strong>better working conditions</strong>,{' '}
      <strong>a more inclusive workplace</strong>, and {' '}
      <strong>higher wages</strong>.
    </p>
    <a href="/press/releases/2022-12-05">
      <button>View our initial press release</button>
    </a>
  </div>
</Base>
